{
    "container_registries": {
        "source": {
            "url": "REPLACE ME"
        },
        "target": {
            "url": "REPLACE ME"
        }
    },
    "migration_plan": {
        "REPLACE ME": {
            "target_repo": "REPLACE ME",
            "tag_filters": ["*"]
        }
    }
}